<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="TODO CLOCK" />
    <meta property="og:image" content="./Thumbnail.webp" />
    <meta property="og:description" content="The TODO-CLOCK combined  Todo List & Tomato Clock in this project." />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="./favicon.ico">
    <title>TODO Clock</title>
</head>

<body class="background">
    <div id="app">
        <!--? Navigation Bar -->
        <nav class="nav">
            <div class="container">
                <div class="nav-bar">
                    <div class="logo">
                        <a href="index.html">
                            <i class="fas fa-clock"></i>
                            TODO CLOCK
                        </a>
                        <span class="version">ver. {{version}}</span>
                    </div>
                    <ul class="tab-header">
                        <li data-tab-target="home" data-tab-index="0" @click="selectTabs('home')"
                            class="tab-item active">
                            <i class="fas fa-house-user"></i>
                        </li>
                        <li data-tab-target="list" data-tab-index="1" @click="selectTabs('list')" class="tab-item">
                            <i class="fas fa-list"></i>
                        </li>
                        <li data-tab-target="editor" data-tab-index="2" @click="selectTabs('editor')" class="tab-item">
                            <i class="fas fa-plus-circle"></i>
                        </li>
                        <li data-tab-target="analysis" data-tab-index="3" @click="selectTabs('analysis')"
                            class="tab-item">
                            <i class="fas fa-chart-bar"></i>
                        </li>
                        <li data-tab-target="setting" data-tab-index="4" @click="selectTabs('setting')"
                            class="tab-item">
                            <i class="fas fa-cog"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="title">
            <h1>TODO CLOCK <span class="version">ver. {{version}}</span></h1>
        </div>
        <!--? Content -->
        <!--? Clock Modal -->
        <div class="container">
            <div class="row">
                <div class="col-6 display">
                    <!--? Task Working Clock -->
                    <div id="clock">
                        <div class="clock">
                            <h2 class="clock-title">{{working.title}}</h2>
                            <ul class="clock-expect">
                                <template v-for="num in working.clock_expect">
                                    <li v-if="num <= working.clock_spend" class="clock-spend clock-spend--active"></li>
                                    <li v-else class="task-spend"></li>
                                </template>
                                <template v-if="working.clock_spend > working.clock_expect">
                                    <li class="clock-spend clock-spend--over"></li>
                                    <li class="clock-spend--num ">+{{working.clock_spend -
                                        working.clock_expect}}</li>
                                </template>
                            </ul>
                            <p v-if="working.date_create == null" class="clock-date">{{working.date_create}}
                            <p v-else class="clock-date">Create On {{working.date_create}}
                            </p>
                            <p class="clock-tag clock-tag-work" v-if="clock.status == 'working'">Working</p>
                            <p class="clock-tag clock-tag-break" v-else>Breaking</p>
                        </div>
                        <!--? Clock -->
                        <div class="clock">
                            <div class="clock-body">
                                <div class="clock-content">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 300 300"
                                        preserveAspectRatio="xMinYMin meet">
                                        <circle r="125" cx="150" cy="150" />
                                        <circle r="125" cx="150" cy="150" class="clock-bar"
                                            :stroke-dasharray="clock.dasharray" :stroke-dashoffset="clock.dashoffset" />
                                    </svg>
                                    <span>{{clock.timerText}}</span>
                                </div>
                            </div>
                        </div>
                        <!--? Clock Control -->
                        <div class="clock">
                            <ul class="clock-player">
                                <template v-if="clock.playing">
                                    <li class="clock-btn" @click="stopClock()">
                                        <i class="bi bi-stop-circle-fill"></i>
                                    </li>
                                </template>
                                <template v-else>
                                    <li class="clock-btn" @click="resetWorking()">
                                        <i class="bi bi-stop-circle-fill"></i>
                                    </li>
                                </template>
                                <li class="clock-btn" v-if="clock.playing == false" @click="playClock()">
                                    <i class="bi bi-play-circle-fill"></i>
                                </li>
                                <li class="clock-btn" v-else @click="pauseClock()">
                                    <i class="bi bi-pause-circle-fill"></i>
                                </li>
                                <li class="clock-btn" @click="skipClock();">
                                    <i class="bi bi-skip-end-circle-fill"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="clock">
                            <!--? Complete Task -->
                            <template v-if="list.findIndex(item => item.id === working.id) !== -1">
                                <button class="clock-complete" data-tab-target="list" data-filter-target="done"
                                    @click="selectTabs('list'); workingComplete();updateDailyTask()">
                                    Task complete
                                    <i class="bi bi-check-circle-fill"></i>
                                </button>
                            </template>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="tab-body">
                        <!--? ---------- ---------- Home Page ---------- ---------- -->
                        <!--? ---------- ---------- Home Page ---------- ---------- -->
                        <!--? ---------- ---------- Home Page ---------- ---------- -->
                        <div data-tab-content="home" class="tab-content active">
                            <!--? Complete Area -->
                            <div class="area">
                                <h2>complete task</h2>
                                <div class="complete">
                                    <div class="surface-left">
                                        <p>{{analysis.completed.today}}</p>
                                        <span>Today</span>
                                    </div>
                                    <div class="surface-right">
                                        <p>{{analysis.completed.week}}</p>
                                        <span>WEEK</span>
                                    </div>
                                </div>
                            </div>
                            <!--? Working Area -->
                            <div class="area">
                                <h2>working task</h2>
                                <div class="surface">
                                    <div class="working">
                                        <div class="working-title">
                                            <h3>{{working.title}}</h3>

                                            <ul class="clock-expect">
                                                <template v-for="num in working.clock_expect">
                                                    <li v-if="num <= working.clock_spend"
                                                        class="clock-spend clock-spend--active"></li>
                                                    <li v-else class="clock-spend"></li>
                                                </template>
                                                <template v-if="working.clock_spend > working.clock_expect">
                                                    <li class="clock-spend clock-spend--over"></li>
                                                    <li class="clock-spend--num ">+{{working.clock_spend -
                                                        working.clock_expect}}</li>
                                                </template>
                                            </ul>
                                        </div>
                                        <button class="btn" @click="selectTabs('editor');editWork();">
                                            <i class="fas fa-ellipsis-h"></i>
                                        </button>
                                    </div>
                                    <div class="working">
                                        <ul class="working-player">
                                            <template v-if="clock.playing">
                                                <li class="working-btn" @click="stopClock()">
                                                    <i class="bi bi-stop-circle-fill"></i>
                                                </li>
                                            </template>
                                            <template v-else>
                                                <li class="working-btn" @click="resetWorking()">
                                                    <i class="bi bi-stop-circle-fill"></i>
                                                </li>
                                            </template>
                                            <li class=" working-btn" v-if="clock.playing == false" @click="playClock()">
                                                <i class="bi bi-play-circle-fill"></i>
                                            </li>
                                            <li class=" working-btn" v-else @click="pauseClock()">
                                                <i class="bi bi-pause-circle-fill"></i>
                                            </li>
                                            <li class=" working-btn" @click="skipClock()">
                                                <i class="bi bi-skip-end-circle-fill"></i>
                                            </li>
                                        </ul>
                                        <p class="working-timer">
                                            {{clock.timerText}}
                                        </p>
                                    </div>
                                    <template v-if="list.findIndex(item => item.id === working.id) !== -1">
                                        <button class="working-complete" data-tab-target="list"
                                            @click="selectTabs('list');">
                                            Task complete
                                            <i class="bi bi-check-circle-fill"></i>
                                        </button>
                                    </template>
                                </div>
                            </div>
                            <!--? ToDoList Area -->
                            <div class="area">
                                <h2>Newest task</h2>
                                <ul class="task-list newset-list">
                                    <!--? task item -->
                                    <template v-for="(item, index) in list.filter(list => list.completed == false)"
                                        :key="item.id">
                                        <li class="surface task-body" v-if="index <= 2">
                                            <button class="btn" @click="playItem(item)" v-if="item.id === working.id">
                                                <i class="bi bi-play-circle"></i>
                                            </button>
                                            <button class="btn" @click="playItem(item)" v-else>
                                                <i class="bi bi-play-circle-fill"></i>
                                            </button>
                                            <div class="task-title">
                                                <h3 class="task-text">
                                                    {{item.title}}
                                                    <span v-if="item.id === working.id"> working...</span>
                                                </h3>
                                                <ul class="task-expect">
                                                    <template v-for="num in item.clock_expect">
                                                        <li v-if="num <= item.clock_spend"
                                                            class="task-spend task-spend--active"></li>
                                                        <li v-else class="task-spend"></li>
                                                    </template>
                                                    <template v-if="item.clock_spend > item.clock_expect">
                                                        <li class="task-spend task-spend--over"></li>
                                                        <li class="task-spend--num ">+{{item.clock_spend -
                                                            item.clock_expect}}</li>
                                                    </template>
                                                </ul>
                                            </div>
                                            <button class="btn" @click="completeItem(item);updateDailyTask()">
                                                <i class="bi bi-check-circle-fill"></i>
                                            </button>
                                            <button class=" btn" @click="editItem(item); selectTabs('editor');">
                                                <i class="fas fa-ellipsis-h"></i>
                                            </button>
                                        </li>
                                    </template>
                                </ul>
                            </div>
                            <!--? Home Page End -->
                        </div>
                        <!--? ---------- ---------- List Page ---------- ---------- -->
                        <!--? ---------- ---------- List Page ---------- ---------- -->
                        <!--? ---------- ---------- List Page ---------- ---------- -->
                        <div data-tab-content="list" class="tab-content ">
                            <div class="filter">
                                <ul class="filter-bar">
                                    <li class="filter-btn filter-btn-active" data-filter-target="todo"
                                        @click="[filterBtn, filterContent]">ToDo</li>
                                    <li class="filter-btn" data-filter-target="done"
                                        @click="[filterBtn, filterContent]">
                                        Done</li>
                                    <li class="slider-bar"> </li>
                                </ul>
                            </div>
                            <!--? filtered list -->
                            <div class="filter-body">
                                <div class="filter-content filter-content-active" data-filter-content="todo">
                                    <!--? ToDoList TODO Content -->
                                    <ul class="task-list">
                                        <template v-for="item in list" :key="item.id">
                                            <!--? task item -->
                                            <li class="surface task-body" v-if="!item.completed">
                                                <button class="btn" v-if="item.id === working.id">
                                                    <i class="bi bi-play-circle"></i>
                                                </button>
                                                <button class="btn" @click="playItem(item);callClock()" v-else>
                                                    <i class="bi bi-play-circle-fill"></i>
                                                </button>

                                                <div class="task-title">
                                                    <h3 class="task-text">
                                                        {{item.title}}
                                                        <span v-if="item.id === working.id"> working...</span>
                                                        <span class="task-title--over "
                                                            v-if="new Date(date.today) >new Date(item.date_limit)">
                                                            Overdue</span>
                                                    </h3>
                                                    <!--? TASK SPENDED CLOCK -->
                                                    <ul class="task-expect">
                                                        <template v-for="num in item.clock_expect">
                                                            <li v-if="num <= item.clock_spend"
                                                                class="task-spend task-spend--active"></li>
                                                            <li v-else class="task-spend"></li>
                                                        </template>
                                                        <template v-if="item.clock_spend > item.clock_expect">
                                                            <li class="task-spend task-spend--over"></li>
                                                            <li class="task-spend--num ">+{{item.clock_spend -
                                                                item.clock_expect}}</li>
                                                        </template>
                                                    </ul>
                                                </div>

                                                <button class="btn" @click="completeItem(item);updateDailyTask()">
                                                    <i class="bi bi-check-circle-fill"></i>
                                                </button>
                                                <button class=" btn" @click="editItem(item); selectTabs('editor');">
                                                    <i class="fas fa-ellipsis-h"></i>
                                                </button>
                                            </li>
                                        </template>
                                    </ul>
                                </div>
                                <div class="filter-content" data-filter-content="done">
                                    <!--? ToDoList DONE Content -->
                                    <ul class="task-list">
                                        <template v-for="item in list" :key="item.id">
                                            <!--? task item -->
                                            <li class="surface" v-if="item.completed">
                                                <div class="task-body">
                                                    <button class="btn btn-disabled">
                                                        <i class="bi bi-check-circle"></i>
                                                    </button>
                                                    <div class="task-title">
                                                        <h3 class="task-text">{{item.title}}
                                                            <span class="task-title--over "
                                                                v-if="new Date(date.today) >new Date(item.date_limit)">
                                                                Overdue</span>
                                                        </h3>
                                                        <ul class="task-expect">
                                                            <template v-for="num in item.clock_expect">
                                                                <li v-if="num <= item.clock_spend"
                                                                    class="task-spend task-spend--active"></li>
                                                                <li v-else class="task-spend"></li>
                                                            </template>
                                                            <template v-if="item.clock_spend > item.clock_expect">
                                                                <li class="task-spend task-spend--over"></li>
                                                                <li class="task-spend--num ">+{{item.clock_spend -
                                                                    item.clock_expect}}</li>
                                                            </template>
                                                        </ul>
                                                    </div>
                                                    <button class="btn" @click="replyItem(item);updateDailyTask()">
                                                        <i class="bi bi-reply-fill"></i>
                                                    </button>
                                                    <button class=" btn" data-tab-target="editor"
                                                        @click="editItem(item);selectTabs('editor')">
                                                        <i class="fas fa-ellipsis-h"></i>
                                                    </button>
                                                </div>
                                                <div class="task-footer">
                                                    <span>created: {{item.date_create}}</span>
                                                    <span>completed:
                                                        {{item.date_complete}}</span>
                                                </div>
                                            </li>
                                        </template>
                                    </ul>
                                </div>
                            </div>
                            <!--? List Page End -->
                        </div>
                        <!--? ---------- ---------- Editor Page ---------- ---------- -->
                        <!--? ---------- ---------- Editor Page ---------- ---------- -->
                        <!--? ---------- ---------- Editor Page ---------- ---------- -->
                        <div data-tab-content="editor" class="tab-content ">
                            <div class="area">
                                <h2>
                                    task title
                                    <span class="date-complete" v-if="editor.item.completed">
                                        Completed : {{editor.item.date_complete}}
                                    </span>
                                </h2>
                                <input type="text" placeholder="Task title" class="editor-text"
                                    v-model="editor.item.title">
                            </div>
                            <div class="area">
                                <h2>expect clock</h2>
                                <div class="editor-expect">
                                    <template v-for="num in 8">
                                        <input type="radio" :id="'expect_'+(8-num+1)" name="expect" :value="8-num+1"
                                            v-if="(8-num+1) == editor.item.clock_expect" checked>
                                        <input type="radio" :id="'expect_'+(8-num+1)" name="expect" :value="8-num+1"
                                            v-else>
                                        <label :for="'expect_'+(8-num+1)"
                                            @click="editor.item.clock_expect = (8 - num + 1)">
                                        </label>
                                    </template>
                                </div>
                            </div>
                            <div class="area">
                                <h2>limit time</h2>
                                <div class="editor-date">
                                    <input type="date" v-model="editor.item.date_limit">
                                </div>
                            </div>
                            <div class="editor">
                                <button class="editor-btn editor-btn-cancel" @click="selectTabs('list')">
                                    Cancel <i class="bi bi-reply-fill"></i>
                                </button>
                                <button class="editor-btn editor-btn-delete" @click="removeItem()">
                                    Delete <i class="bi bi-x-lg"></i>
                                </button>
                                <button class="editor-btn editor-btn-plus" v-if="editor.status == 'create'"
                                    @click="addItem();selectTabs('list')">ADD
                                    Task</button>
                                <button class="editor-btn editor-btn-plus" v-else
                                    @click="selectTabs('list'); updateItem()">Save
                                    Task</button>
                            </div>
                            <!--? Plus Page End -->
                        </div>
                        <!--? ---------- ---------- Analysis Page ---------- ---------- -->
                        <!--? ---------- ---------- Analysis Page ---------- ---------- -->
                        <!--? ---------- ---------- Analysis Page ---------- ---------- -->
                        <div data-tab-content="analysis" class="tab-content ">
                            <div class="area">
                                <h2>completed</h2>
                                <div class="filter">
                                    <ul class="filter-bar">
                                        <li class="filter-btn filter-btn-active" data-filter="analysis"
                                            data-filter-target="task" @click="[filterBtn,renderAnalysis]">task</li>
                                        <li class="filter-btn" data-filter="analysis" data-filter-target="clock"
                                            @click="[filterBtn,renderAnalysis]">
                                            clock</li>
                                        <li class="slider-bar"> </li>
                                    </ul>
                                </div>
                                <div class="complete">
                                    <div class="surface-left">
                                        <p>{{analysis.completed.today}}</p>
                                        <span>today</span>
                                    </div>
                                    <div class="surface-right">
                                        <p>{{analysis.completed.week}}</p>
                                        <span>week</span>
                                    </div>
                                </div>
                            </div>
                            <div class="area">
                                <h2>CHART</h2>
                                <!--? CHART -->
                                <div class="task-chart">
                                    <div class="surface">
                                        <div class="chart-date">
                                            <button class="chart-btn" @click="updateDate(-7)">&lt;&lt;</button>
                                            <button class="chart-btn" @click="updateDate(-1)">&lt;</button>
                                            <p>
                                                <span>
                                                    {{analysis.chart.dateFrom.split("-")[0]}}
                                                    {{analysis.chart.dateFrom.split("-")[1]}}/{{analysis.chart.dateFrom.split("-")[2]}}
                                                </span>
                                                -
                                                <span>
                                                    <template
                                                        v-if="analysis.chart.dateFrom.split('-')[0] !== analysis.chart.dateTo.split('-')[0]">
                                                        {{analysis.chart.dateTo.split("-")[0]}}
                                                    </template>
                                                    {{analysis.chart.dateTo.split("-")[1]}}/{{analysis.chart.dateTo.split("-")[2]}}
                                                </span>
                                            </p>
                                            <button class="chart-btn" @click="updateDate(1)">&gt;</button>
                                            <button class="chart-btn" @click="updateDate(7)">&gt;&gt;</button>
                                        </div>
                                        <table class="chart-body">
                                            <thead>
                                                <tr>
                                                    <th v-for="num in 6">
                                                        <template v-if="filter.analysis == 'clock'">
                                                            {{(6-num)*10}}
                                                        </template>
                                                        <template v-else>
                                                            {{(6-num)*5}}
                                                        </template>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="item in analysis.chart.week" :key="item.date">
                                                    <!--? Date -->
                                                    <th class="chart-text">
                                                        <p v-if="item.date.split('-')[2] =='01'">
                                                            {{item.date.split('-')[1]}}/1
                                                        </p>
                                                        <p v-else>
                                                            <template v-if="new Date(item.date).getDate()<10">
                                                                {{item.date.split('-')[2].split('')[1]}}
                                                            </template>
                                                            <template v-else>
                                                                {{item.date.split('-')[2]}}
                                                            </template>
                                                        </p>
                                                        <span>
                                                            {{weekName[new Date(item.date).getDay()]}}
                                                        </span>
                                                    </th>
                                                    <!--? Date Bar -->
                                                    <td class="chart-bar chart-bar-today" v-if="item.date == date.today"
                                                        :style="{height: item.data *  analysis.chart.height +'rem'}">
                                                        <p>{{item.data}}</p>
                                                    </td>

                                                    <td class="chart-bar" v-else
                                                        :style="{height: item.data *  analysis.chart.height +'rem'}">
                                                        <p>{{item.data}}</p>
                                                    </td>

                                                </tr>
                                            </tbody>


                                        </table>
                                    </div>
                                    <!--? CHART END -->
                                </div>
                            </div>

                            <!--? Analysis Page End -->
                        </div>
                        <!--? ---------- ---------- Setting Page ---------- ---------- -->
                        <!--? ---------- ---------- Setting Page ---------- ---------- -->
                        <!--? ---------- ---------- Setting Page ---------- ---------- -->
                        <div data-tab-content="setting" class="tab-content ">
                            <div class="area">
                                <h2>Work time</h2>
                                <ul class="setting-time">
                                    <li v-for="(item, key) in setting.work" :key="item.index">
                                        <input type="radio" name="time-work" :id="'work'+item" :value="item"
                                            v-if="item ==clock.working" checked>
                                        <input type="radio" name="time-work" :id="'work'+item" :value="item" v-else>
                                        <label :for="'work'+item" @click="setWorkTime(item)">{{item}}</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="area">
                                <h2>break time</h2>
                                <ul class="setting-time">
                                    <li v-for="(item, key) in setting.break" :key="item.index">
                                        <input type="radio" name="time-break" :id="'break'+item" :value="item"
                                            v-if="item ==clock.breaking" checked>
                                        <input type="radio" name="time-work" :id="'break'+item" :value="item" v-else>
                                        <label :for="'break'+item" @click="setBreakTime(item)">{{item}}</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="area">
                                <h2>Ringtone</h2>
                                <div class="filter">
                                    <ul class="filter-bar">
                                        <li class="filter-btn filter-btn-active" data-filter="setting"
                                            data-filter-target="working" @click="filterBtn">Working</li>
                                        <li class="filter-btn" data-filter="setting" data-filter-target="breaking"
                                            @click="filterBtn">
                                            Breaking</li>
                                        <li class="slider-bar"> </li>
                                    </ul>
                                </div>
                                <ul class="setting-ringtone">
                                    <li v-for="(item, key) in setting.ringtone" :key="item.index">
                                        <input type="radio" name="ringtone" :id="item" :value="item"
                                            v-if="item == clock.ringtone" checked>
                                        <input type="radio" name="ringtone" :id="item" :value="item" v-else>
                                        <label :for="item" @click="setBreakRingtone(item)">
                                            <button class="btn" v-if="item == clock.ringtone"><i
                                                    class="bi bi-check-circle"></i></button>
                                            <button class="btn" v-else><i class="bi bi-circle"></i></button>
                                            <p>{{item}}</p>
                                            <button class="btn"><i class="bi bi-play-circle"></i></button>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="setting-reset">
                                <h2>Reset</h2>
                                <ul class="reset">
                                    <li class="reset-btn" @click="resetList()"> <span>
                                            <i class="fas fa-list"></i>
                                            Task list
                                        </span> </li>
                                    <li class="reset-btn" @click="resetClock()"> <span>
                                            <i class="fas fa-cog"></i>
                                            setting
                                        </span> </li>
                                    <li class="reset-btn" @click="resetCompletedData()"> <span>
                                            <i class="fas fa-clock"></i>
                                            Completed
                                        </span> </li>
                                    <li class="reset-btn" @click="resetLocalStorage()"> <span>
                                            localStorage
                                        </span> </li>
                                </ul>
                            </div>
                            <!--? Setting Page End -->
                        </div>
                    </div>
                </div>
            </div>
            <!--? Content End -->
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/app.js"></script>
</body>

</html>
