<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>TODO Clock</title>
</head>

<body class="background">
    <div id="app">
        <!--? Navigation Bar -->
        <nav class="nav">
            <div class="container">
                <div class="nav-bar">
                    <div class="logo">
                        <a href="index.html"><i class="fas fa-clock"></i>TODO CLOCK</a>
                    </div>
                    <ul class="tab-header">
                        <li data-tab-target="home" data-tab-index="0" @click="selectTabs('home')"
                            class="tab-item active">
                            <i class="fas fa-house-user"></i>
                        </li>
                        <li data-tab-target="list" data-tab-index="1" @click="selectTabs('list')" class="tab-item">
                            <i class="fas fa-list"></i>
                        </li>
                        <li data-tab-target="editor" data-tab-index="2" @click="selectTabs('editor')" class="tab-item">
                            <i class="fas fa-plus-circle"></i>
                        </li>
                        <li data-tab-target="analysis" data-tab-index="3" @click="selectTabs('analysis')"
                            class="tab-item">
                            <i class="fas fa-chart-bar"></i>
                        </li>
                        <li data-tab-target="setting" data-tab-index="4" @click="selectTabs('setting')"
                            class="tab-item">
                            <i class="fas fa-cog"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="title">
            <h1>TODO CLOCK <span class="version">ver. 0.1022.0435</span></h1>
        </div>
        <!--? Content -->
        <!--? Clock Modal -->
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div id="clock">
                        <!--? Task Spended Clock -->
                        <div class="clock">
                            <h2 class="clock-title">{{working.title}}</h2>
                            <ul class="clock-expect">
                                <li v-for="item in working.clock_spend" class="clock-spend clock-spend--active"></li>
                                <li v-for="item in working.clock_expect-working.clock_spend" class="clock-spend"></li>
                                <li v-for="item in working.clock_over" class="clock-spend clock-spend--over"></li>
                            </ul>
                            <p v-if="working.date_create == null" class="clock-date">{{working.date_create}}
                            <p v-else class="clock-date">Create On {{working.date_create}}
                            </p>
                            <p class="clock-tag clock-tag-work" v-if="clock.status == 'working'">Working</p>
                            <p class="clock-tag clock-tag-break" v-else>Breaking</p>
                        </div>
                        <!--? Clock -->
                        <div class="clock">
                            <div class="clock-body">
                                <div class="clock-content">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 300 300"
                                        preserveAspectRatio="xMinYMin meet">
                                        <circle r="125" cx="150" cy="150" />
                                        <circle r="125" cx="150" cy="150" class="clock-bar"
                                            :stroke-dasharray="clock.dasharray" :stroke-dashoffset="clock.dashoffset" />
                                    </svg>
                                    <span>{{clock.timerText}}</span>
                                </div>
                            </div>
                        </div>
                        <!--? Clock Control -->
                        <div class="clock">
                            <ul class="clock-player">
                                <li class="clock-btn" @click="stopClock()">
                                    <i class="bi bi-stop-circle-fill"></i>
                                </li>
                                <li class="clock-btn" v-if="clock.playing == false" @click="playClock()">
                                    <i class="bi bi-play-circle-fill"></i>
                                </li>
                                <li class="clock-btn" v-else @click="pauseClock()">
                                    <i class="bi bi-pause-circle-fill"></i>
                                </li>
                                <li class="clock-btn" @click="skipClock()">
                                    <i class="bi bi-skip-end-circle-fill"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="clock">
                            <!--? Complete Task -->
                            <button class="clock-complete" data-tab-target="list" data-filter-target="done"
                                @click="selectTabs('list'); resetWorking();">
                                Task complete
                                <i class="bi bi-check-circle-fill"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="tab-body">
                        <!--? ---------- ---------- Home Page ---------- ---------- -->
                        <!--? ---------- ---------- Home Page ---------- ---------- -->
                        <!--? ---------- ---------- Home Page ---------- ---------- -->
                        <div data-tab-content="home" class="tab-content ">
                            <!--? Complete Area -->
                            <div class="area">
                                <h2>complete task</h2>
                                <div class="complete">
                                    <div class="surface-left">
                                        <p>8</p>
                                        <span>Today</span>
                                    </div>
                                    <div class="surface-right">
                                        <p>24</p>
                                        <span>WEEK</span>
                                    </div>
                                </div>
                            </div>
                            <!--? Working Area -->
                            <div class="area">
                                <h2>working task</h2>
                                <div class="surface">
                                    <div class="working">
                                        <div class="working-title">
                                            <h3>{{working.title}}</h3>
                                            <ul class="task-expect">
                                                <li v-for="item in working.clock_spend"
                                                    class="task-spend task-spend--active">
                                                </li>
                                                <li v-for="item in working.clock_expect-working.clock_spend"
                                                    class="task-spend">
                                                </li>
                                                <li v-for="item in working.clock_over"
                                                    class="task-spend task-spend--over">
                                                </li>
                                            </ul>
                                        </div>
                                        <button class="btn" @click="selectTabs('editor')">
                                            <i class="fas fa-ellipsis-h"></i>
                                        </button>
                                    </div>
                                    <div class="working">
                                        <ul class="working-player">
                                            <li class=" working-btn" @click="stopClock()">
                                                <i class="bi bi-stop-circle-fill"></i>
                                            </li>
                                            <li class=" working-btn" v-if="clock.playing == false" @click="playClock()">
                                                <i class="bi bi-play-circle-fill"></i>
                                            </li>
                                            <li class=" working-btn" v-else @click="pauseClock()">
                                                <i class="bi bi-pause-circle-fill"></i>
                                            </li>
                                            <li class=" working-btn" @click="skipClock()">
                                                <i class="bi bi-skip-end-circle-fill"></i>
                                            </li>
                                        </ul>
                                        <p class="working-timer">
                                            {{clock.timerText}}
                                        </p>
                                    </div>
                                    <button class="working-complete" data-tab-target="list" @click="selectTabs('list')">
                                        Task complete
                                        <i class="bi bi-check-circle-fill"></i>
                                    </button>
                                </div>
                            </div>
                            <!--? ToDoList Area -->
                            <div class="area">
                                <h2>Newest task</h2>
                                <ul class="task-list newset-list">
                                    <!--? task item -->
                                    <template v-for="(item, index) in list.filter(list => list.completed == false)"
                                        :key="item.id">
                                        <li class="surface" v-if="index <= 2">
                                            <button v-if="item.completed == true" class="btn"><i
                                                    class="bi bi-check-circle"></i></button>
                                            <button v-else class="btn"><i class="bi bi-play-circle-fill"></i></button>
                                            <div class="task-title">
                                                <h3 class="task-text">{{item.title}} {{index + 1}}</h3>
                                                <ul class="task-expect">
                                                    <li v-for="item in item.clock_spend"
                                                        class="task-spend task-spend--active"></li>
                                                    <li v-for="item in  item.clock_expect - item.clock_spend"
                                                        class="task-spend"></li>
                                                    <li v-for="item in item.clock_over"
                                                        class="task-spend task-spend--over">
                                                    </li>
                                                </ul>
                                            </div>
                                            <button v-if="item.completed == true" class="btn"
                                                @click="item.completed = false">
                                                <i class="bi bi-reply-fill"></i>
                                            </button>
                                            <button v-else class="btn" @click="item.completed = true">
                                                <i class="bi bi-check-circle-fill"></i>
                                            </button>
                                            <button class=" btn" @click="editItem(item); selectTabs('editor');">
                                                <i class="fas fa-ellipsis-h"></i>
                                            </button>
                                        </li>
                                    </template>
                                </ul>
                            </div>
                            <!--? Home Page End -->
                        </div>
                        <!--? ---------- ---------- List Page ---------- ---------- -->
                        <!--? ---------- ---------- List Page ---------- ---------- -->
                        <!--? ---------- ---------- List Page ---------- ---------- -->
                        <div data-tab-content="list" class="tab-content">
                            <div class="filter">
                                <ul class="filter-bar">
                                    <li class="filter-btn filter-btn-active" data-filter-target="todo"
                                        @click="[filterBtn, filterContent]">ToDo</li>
                                    <li class="filter-btn" data-filter-target="done"
                                        @click="[filterBtn, filterContent]">
                                        Done</li>
                                    <li class="slider-bar"> </li>
                                </ul>
                            </div>
                            <!--? filtered list -->
                            <div class="filter-body">
                                <div class="filter-content filter-content-active" data-filter-content="todo">
                                    <!--? ToDoList TODO Content -->
                                    <ul class="task-list">
                                        <template v-for="item in list" :key="item.id">
                                            <!--? task item -->
                                            <li class="surface" v-if="!item.completed">
                                                <button v-if="item.completed" class="btn"><i
                                                        class="bi bi-check-circle"></i></button>
                                                <button v-else class="btn"><i
                                                        class="bi bi-play-circle-fill"></i></button>
                                                <div class="task-title">
                                                    <h3 class="task-text">{{item.title}}</h3>
                                                    <ul class="task-expect">
                                                        <li v-for="item in item.clock_spend"
                                                            class="task-spend task-spend--active"></li>
                                                        <li v-for="item in  item.clock_expect - item.clock_spend"
                                                            class="task-spend"></li>
                                                        <li v-for="item in item.clock_over"
                                                            class="task-spend task-spend--over">
                                                        </li>
                                                    </ul>
                                                </div>
                                                <button v-if="item.completed == true" class="btn"
                                                    @click="item.completed = false">
                                                    <i class="bi bi-reply-fill"></i>
                                                </button>
                                                <button v-else class="btn" @click="item.completed = true">
                                                    <i class="bi bi-check-circle-fill"></i>
                                                </button>
                                                <button class=" btn" @click="editItem(item); selectTabs('editor');">
                                                    <i class="fas fa-ellipsis-h"></i>
                                                </button>
                                            </li>
                                        </template>
                                    </ul>
                                </div>
                                <div class="filter-content" data-filter-content="done">
                                    <!--? ToDoList DONE Content -->
                                    <ul class="task-list">
                                        <template v-for="item in list" :key="item.id">
                                            <!--? task item -->
                                            <li class="surface" v-if="item.completed">
                                                <button v-if="item.completed" class="btn"><i
                                                        class="bi bi-check-circle"></i></button>
                                                <button v-else class="btn"><i
                                                        class="bi bi-play-circle-fill"></i></button>
                                                <div class="task-title">
                                                    <h3 class="task-text">{{item.title}}</h3>
                                                    <ul class="task-expect">
                                                        <li v-for="item in item.clock_spend"
                                                            class="task-spend task-spend--active"></li>
                                                        <li v-for="item in  item.clock_expect - item.clock_spend"
                                                            class="task-spend"></li>
                                                        <li v-for="item in item.clock_over"
                                                            class="task-spend task-spend--over">
                                                        </li>
                                                    </ul>
                                                </div>
                                                <button v-if="item.completed == true" class="btn"
                                                    @click="item.completed = false">
                                                    <i class="bi bi-reply-fill"></i>
                                                </button>
                                                <button v-else class="btn" @click="item.completed = true">
                                                    <i class="bi bi-check-circle-fill"></i>
                                                </button>
                                                <button class=" btn" data-tab-target="editor" @click="editItem(item)">
                                                    <i class="fas fa-ellipsis-h"></i>
                                                </button>
                                            </li>
                                        </template>
                                    </ul>
                                </div>
                            </div>
                            <!--? List Page End -->
                        </div>
                        <!--? ---------- ---------- Editor Page ---------- ---------- -->
                        <!--? ---------- ---------- Editor Page ---------- ---------- -->
                        <!--? ---------- ---------- Editor Page ---------- ---------- -->
                        <div data-tab-content="editor" class="tab-content active">
                            <div class="area">

                                <h2>task title <span class="date-complete" v-if="editor.item.completed">Completed :
                                        {{editor.item.date_complete}}</span></h2>
                                <input type="text" placeholder="Task title" class="editor-text"
                                    v-model="editor.item.title">
                            </div>
                            <div class="area">
                                <h2>expect clock</h2>
                                <div class="editor-expect">
                                    <template v-for="num in 8">
                                        <input type="radio" :id="'expect_'+(8-num+1)" name="expect" :value="8-num+1"
                                            v-if="(8-num+1) == editor.item.clock_expect" checked>
                                        <input type="radio" :id="'expect_'+(8-num+1)" name="expect" :value="8-num+1"
                                            v-else>
                                        <label :for="'expect_'+(8-num+1)"
                                            @click="editor.item.clock_expect = (8 - num + 1)">
                                        </label>
                                    </template>
                                </div>
                            </div>
                            <div class="area">
                                <h2>limit time</h2>
                                <div class="editor-date">
                                    <input type="date" v-model="editor.item.date_limit">
                                </div>
                            </div>
                            <div class="editor">
                                <button class="editor-btn editor-btn-cancel">Cancel
                                    <i class="bi bi-reply-fill"></i></button>
                                <button class="editor-btn editor-btn-delete"><i class="bi bi-x-lg"></i></button>
                                <button class="editor-btn editor-btn-plus" v-if="editor.status == 'create'"
                                    @click="addItem()">ADD
                                    Task</button>
                                <button class="editor-btn editor-btn-plus" v-else>Save Task</button>
                            </div>
                            <!--? Plus Page End -->
                        </div>
                        <!--? ---------- ---------- Analysis Page ---------- ---------- -->
                        <!--? ---------- ---------- Analysis Page ---------- ---------- -->
                        <!--? ---------- ---------- Analysis Page ---------- ---------- -->
                        <div data-tab-content="analysis" class="tab-content">
                            <div class="filter">
                                <ul class="filter-bar">
                                    <li class="filter-btn filter-btn-active" data-filter-target="today"
                                        @click="filterBtn">Today</li>
                                    <li class="filter-btn" data-filter-target="week" @click="filterBtn">
                                        Week</li>
                                    <li class="slider-bar"> </li>
                                </ul>
                            </div>
                            <div class="area">
                                <h2>completed</h2>
                                <div class="complete">
                                    <div class="surface-left">
                                        <p>8</p>
                                        <span>task</span>
                                    </div>
                                    <div class="surface-right">
                                        <p>24</p>
                                        <span>clock</span>
                                    </div>
                                </div>
                            </div>
                            <div class="area">
                                <!--? CHART -->
                                <div class="task-chart">
                                    <div class="surface">
                                        <div class="chart-date">
                                            <button>&lt;</button>
                                            <p>2021 <span>08/29</span> - <span>09/04</span></p>
                                            <button>&gt;</button>
                                        </div>
                                        <div class="chart-body">
                                            ...
                                        </div>
                                    </div>
                                    <!--? CHART END -->
                                </div>
                            </div>

                            <!--? Analysis Page End -->
                        </div>
                        <!--? ---------- ---------- Setting Page ---------- ---------- -->
                        <!--? ---------- ---------- Setting Page ---------- ---------- -->
                        <!--? ---------- ---------- Setting Page ---------- ---------- -->
                        <div data-tab-content="setting" class="tab-content ">
                            <div class="area">
                                <h2>Work time</h2>
                                <ul class="setting-time">
                                    <li v-for="(item, key) in setting.work" :key="item.index">
                                        <input type="radio" name="time-work" :id="'work'+item" :value="item"
                                            v-if="item ==clock.working" checked>
                                        <input type="radio" name="time-work" :id="'work'+item" :value="item" v-else>
                                        <label :for="'work'+item" @click="setWorkTime(item)">{{item}}</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="area">
                                <h2>break time</h2>
                                <ul class="setting-time">
                                    <li v-for="(item, key) in setting.break" :key="item.index">
                                        <input type="radio" name="time-break" :id="'break'+item" :value="item"
                                            v-if="item ==clock.breaking" checked>
                                        <input type="radio" name="time-work" :id="'break'+item" :value="item" v-else>
                                        <label :for="'break'+item" @click="setBreakTime(item)">{{item}}</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="area">
                                <h2>Ringtone</h2>
                                <div class="filter">
                                    <ul class="filter-bar">
                                        <li class="filter-btn filter-btn-active" data-filter-target="working"
                                            @click="filterBtn">Working</li>
                                        <li class="filter-btn" data-filter-target="breaking" @click="filterBtn">
                                            Breaking</li>
                                        <li class="slider-bar"> </li>
                                    </ul>
                                </div>
                                <ul class="setting-ringtone">
                                    <li v-for="(item, key) in setting.ringtone" :key="item.index">
                                        <input type="radio" name="ringtone" :id="item" :value="item"
                                            v-if="item == clock.ringtone" checked>
                                        <input type="radio" name="ringtone" :id="item" :value="item" v-else>
                                        <label :for="item" @click="setBreakRingtone(item)">
                                            <button class="btn" v-if="item == clock.ringtone"><i
                                                    class="bi bi-check-circle"></i></button>
                                            <button class="btn" v-else><i class="bi bi-circle"></i></button>
                                            <p>{{item}}</p>
                                            <button class="btn"><i class="bi bi-play-circle"></i></button>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="setting-reset">
                                <h2>Reset</h2>
                                <ul class="reset">
                                    <li class="reset-btn" @click="resetClock()">clock</li>
                                    <li class="reset-btn" @click="resetWorking()">working</li>
                                    <li class="reset-btn" @click="resetList()">Task list</li>
                                </ul>
                            </div>
                            <!--? Setting Page End -->
                        </div>
                    </div>
                </div>
            </div>
            <!--? Content End -->
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./js/app.js"></script>
</body>

</html>